.login{
    background-color : white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
html, body {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    padding: 0;
    margin: 0;
    background-color: green;
}
.form_factor{
   
    height: 75%;
    position: absolute;
    top: 25%;
    width: 92%;

}
.submit{
    position: absolute;
    left: 40%;
}

.EJP5Be {
    margin: 0px auto;
    /* min-width: 978px; */
    /* max-width: 1680px; */
    padding: 8px;
}

._3HqJxg {
    width: 100%;
    /* position: relative; */
}

._1AtVbE {
    display: block;
}

.col-12-12 {
    width: 100%;
}

._3G2Tw8 {
    background: rgb(255, 255, 255);
}

._1IZlAf ._5_K_qG {
    display: flex;
}

._1IZlAf ._5_K_qG {
    flex-wrap: wrap;
    padding: 15px;
}

@media (max-width: 1140px){
    ._3G2Tw8 ._3oesPs {
        width: 33.33%;
    }
}

._3G2Tw8 ._3oesPs {
    width: 33.33%;
}
._4ddWXP {
    padding: 16px;
    position: relative;
    transition: box-shadow 0.2s ease-in-out 0s;
    filter: none !important;
}

._4ddWXP ._2rpwqI {
    position: relative;
    display: block;
    margin-bottom: 5px;
}

._4ddWXP ._2rpwqI {
    position: relative;
    display: block;
    margin-bottom: 5px;
}
a, img {
    /* text-decoration: none; */
    /* color: inherit; */
    /* border: none; */
    /* outline: none; */
}

._4ddWXP .s1Q9rs {
    padding-bottom: 5px;
    overflow: hidden;
    display: block;
}

._4ddWXP ._32g5_j {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}

._25b18c ._30jeq3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

.gUuXy-._2D5lwg {
    margin-top: 0;
    display: inline-block;
    padding-right: 10px;
}
._1lRcqv {
    position: relative;
}
._3LWZlK {
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
._1wB99o {
    margin: -4px 0 0 2px;
    height: 12px;
}

._3v1-ww {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    width: 98%;
    border: none;
    float: left;
    background: #ff9f00;
    color: #fff;
}

._2U9uOA {
    text-transform: uppercase;
    width: 73%;
    font-size: 16px;
}

._1Er18h {
    max-width: 1260px;
    margin: 0 auto;
}
._3HqJxg {
    width: 100%;
    position: relative;
}

._6t1WkM {
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
}

._1YokD2._2GoDe3 {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}

._1YokD2._2GoDe3 {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}
._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.col-12-12 {
    width: 100%;
}
._1YokD2._3Mn1Gg {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
._1AtVbE {
    display: block;
}

.col-3-12 {
    width: 25%;
}
._1-GQyH {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._1-GQyH ._3g_HeN {
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;
}
._1AtVbE {
    display: block;
}

.col-9-12 {
    width: 75%;
}
._1NQxOU._3ZnIlT {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
}

.col-12-12 {
    width: 100%;
}
.zab8Yh:last-child {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.zab8Yh:first-child {
    border-top: 0;
}
._10k93p {
    border-top: 1px solid #f0f0f0!important;
}
.zab8Yh {
    border-top: 1px solid #f0f0f0;
    padding: 24px;
    position: relative;
    background: #fff;
    max-width: 950px;
}
.zab8Yh ._2nQDXZ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a, img {
    /* text-decoration: none; */
    /* color: inherit; */
    /* border: none; */
    /* outline: none; */
}
.zab8Yh ._3fSRat {
    padding: 0 24px 12px;
    vertical-align: top;
    min-height: 112px;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    max-width: 460px;
}
.zab8Yh ._3fSRat ._2-uG6- {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.zab8Yh ._3fSRat ._2Kn22P {
    font-size: 16px;
    color: #212121;
    line-height: 1;
    display: inline;
}
.zab8Yh ._3fSRat ._20RCA6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zab8Yh ._3fSRat ._3ZS8sw, .zab8Yh ._3fSRat ._20RCA6 {
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
}
.zab8Yh ._3fSRat ._3ZS8sw {
    margin-top: 8px;
}

.zab8Yh ._3fSRat ._3ZS8sw, .zab8Yh ._3fSRat ._20RCA6 {
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
}
._1WpvJ7 {
    font-size: 18px;
    font-weight: 500;
    color: #212121;
}

._2-ut7f {
    display: inline-block;
    margin-right: 8px;
    margin-top: 18px;
}
_1wkSVh, ._2xc6hH, .dML6Ak {
    font-size: 14px;
    margin-right: 10px;
}

._2xc6hH {
    color: #878787;
    text-decoration: line-through;
}
._2-ut7f {
    display: inline-block;
    margin-right: 8px;
    margin-top: 18px;
}
._10k93p ._1hNI6F {
    padding-top: 10px;
}

.zab8Yh .nZz3kj {
    display: block;
}
.zab8Yh .nZz3kj ._1uc2IE {
    width: var(--cart-item-image-width);
    text-align: center;
    display: inline-block;
}
._3dY_ZR {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._3dY_ZR ._23FHuj:disabled {
    color: #c2c2c2;
    border-color: #e0e0e0;
    cursor: auto;
}

._3dY_ZR ._23FHuj {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
._3dY_ZR ._26HdzL {
    display: inline-block;
    padding: 3px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 31px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}
._3dY_ZR ._23FHuj {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
.WDiNrH {
    padding-left: 24px;
}

.td-FUv {
    display: inline-block;
}
._10vWcL {
    clear: both;
}
._3dsJAO {
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
}
._78xt5Y {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

._1AtVbE {
    display: block;
}
.eBV0fb {
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
}

.VUS-tD {
    text-align: right;
}
.eBV0fb ._2ObVJD {
    width: auto;
}

._2KpZ6l._3AWRsL {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
}
.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
._2ObVJD {
    width: 100%;
    padding: 16px 30px;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}


._396cs4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
.CXW8mj {
    position: relative;
    margin: 0 auto;
}
._3dY_ZR ._26HdzL ._253qQJ {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
._3dY_ZR ._23FHuj {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
._1YokD2._3Mn1Gg {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
._78xt5Y {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.col-4-12 {
    width: 33.33%;
}
.dimARw {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
._35mLK5 {
    background: #fff;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
._3aPjap, ._I_XQO {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

._3aPjap {
    display: block;
    text-transform: uppercase;
    padding: 13px 24px;
    font-weight: 500;
    color: #878787;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
}
._I_XQO {
    padding: 0 24px;
}

._3aPjap, ._I_XQO {
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}
.Ob17DV {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.Ob17DV ._24KATy {
    max-width: 68%;
}
.Ob17DV ._24KATy ._2npqm0 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._3LxTgx {
    border-top: 1px dashed #e0e0e0;
    font-weight: 500;
    font-size: 18px;
}
.Ob17DV {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.Ob17DV ._24KATy {
    max-width: 68%;
}
.Ob17DV ._24KATy ._2npqm0 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._1dqRvU {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
._1dqRvU ._3X7Jj1 {
    margin: 0;
}

.Ob17DV {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.Ob17DV ._24KATy {
    max-width: 68%;
}
#navbarSupportedContent {
    position: absolute;
    right: 0;
}
.badge{
    color: blue;
    background-color: yellow;
}